---
import LocationIcon from "@assets/icons/location.svg";
---

<section class="hero-section mx-auto h-screen w-full">
  <div
    class="hero-title text-purple-accent bg-olive flex flex-col items-center justify-center space-y-4 p-4"
  >
    <h1 class="font-jakarta text-6xl font-extrabold">Nueva web app</h1>
    <p class="font-nunito text-lg">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis dolor
      adipisci corrupti libero itaque tempore magnam minima voluptas
      necessitatibus? Beatae eaque labore omnis voluptatibus necessitatibus
      eligendi sint dolorum non nam?
    </p>
    <LocationIcon
      class="text-soft-gray hover:text-accent mx-auto mt-4 h-6 w-6 transition-colors duration-300"
    />
  </div>
</section>
