---

---

<section>
  <div class="container">
    <div class="content">
      <h1>Psicología</h1>
      <p>
        La psicología es una disciplina que se dedica al estudio del
        comportamiento humano y los procesos mentales. A través de diferentes
        enfoques y técnicas, la psicología busca comprender, explicar y
        modificar el comportamiento humano.
      </p>
    </div>
  </div>
</section>
