---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  seoProps={{
    title: "Contacto",
    description: "Contacto",
  }}
>
  <section>
    <div class="container">
      <div class="content">
        <h1>Contacto</h1>
        <p>
          Estoy aquí para acompañarte en tu proceso. Puedes contactarme a través
          de los siguientes medios:
        </p>
      </div>
    </div>
  </section>
</MainLayout>
