---
import "@/styles/global.css";
import { Font } from "astro:assets";
import SeoHead from "@/components/SeoHead.astro";
import Navbar from "@/components/global/Navbar.astro";
import Footer from "@/components/global/Footer.astro";

import {
  ORGANIZATION_SCHEMA,
  WEBSITE_SCHEMA,
  type JSONLDSchema,
} from "@/config/seoConf";
import type { SEOProps } from "astro-seo";

interface Props {
  seoProps: SEOProps;
  schemas?: JSONLDSchema[];
}

const { seoProps, schemas = [] } = Astro.props;

const allSchemas = [...schemas, ORGANIZATION_SCHEMA, WEBSITE_SCHEMA];
---

<!doctype html>
<html lang="en" class="scrollbar-hide overflow-x-hidden">
  <head>
    <!-- SEO Head -->
    <SeoHead seoProps={seoProps} schemas={allSchemas} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Fonts -->
    <Font cssVariable="--font-jakarta" />
    <Font cssVariable="--font-nunito" />

    <!-- SiteMap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script>
      import "@/utils/scripts/lennis.js";
    </script>
  </head>

  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
