---
import "@/styles/global.css";
import { Font } from "astro:assets";
import SeoHead from "@/components/SeoHead.astro";
import Navbar from "@/components/global/Navbar.astro";
import Footer from "@/components/global/Footer.astro";

import {
  ORGANIZATION_SCHEMA,
  WEBSITE_SCHEMA,
  type JSONLDSchema,
} from "@/config/seoConf";
import type { SEOProps } from "astro-seo";
import WhatsApp from "@/components/ui/WhatsApp.astro";

interface Props {
  seoProps: SEOProps;
  schemas?: JSONLDSchema[];
}

const { seoProps, schemas = [] } = Astro.props;

const allSchemas = [...schemas, ORGANIZATION_SCHEMA, WEBSITE_SCHEMA];
---

<!doctype html>
<html lang="es-CO" class="scrollbar-hide overflow-x-hidden">
  <head>
    <!-- SEO Head -->
    <SeoHead seoProps={seoProps} schemas={allSchemas} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google tag manager -->
    <script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T59FWQV4');</script>


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Fonts -->
    <Font cssVariable="--font-jakarta" />
    <Font cssVariable="--font-nunito" />

    <!-- SiteMap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script>
      import "@/utils/scripts/lennis.js";
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T59FWQV4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <div class="fixed right-4 bottom-4 z-50">
      <WhatsApp />
    </div>
  </body>
</html>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
