<div
  class="prose prose-lg prose-headings:text-purple-dark prose-p:text-purple-accent prose-p:text-justify prose-li:text-purple-accent/70 prose-td:text-purple-accent/70 prose-a:text-purple-accent prose-a:font-bold prose-a:hover:text-purple-dark prose-a:tracking-normal prose-strong:text-purple-dark prose-code:text-purple-accent prose-img:rounded-lg prose-img:w-full max-w-none"
>
  <slot />
</div>

<style is:global>
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .video-wrapper-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>